.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px 15px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #c3edbf;
  color: #b8dfe6;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #fcf7e3;
  background-color: #e6c8fe;
}

.paginationActive a {
  color: #212121;
  background-color: #fbb9c5;
}

.paginationDisabled a {
  color: grey;
  background-color: #fcf7e3;
}
